.root {
    $pixel-size: 0.5px;

    //
    & {
        transform-origin: 0px 0px;

        //
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        will-change: transform;
        inline-size: max-content;
        content-visibility: auto;
        contain-intrinsic-size: #{$pixel-size} #{$pixel-size};
        user-select: none; gap: 0px;

        // enable accelerated mode
        transform: translateZ(0px);
        //image-rendering: pixelated;
        //image-rendering: optimizeSpeed;

        // additional optimize
        container-type: size; isolation: isolate;
        inline-size: calc(var(--w, 1) * $pixel-size);
        block-size: calc(var(--h, 1) * $pixel-size);
        contain: strict;
    }

    //
    .row {
        gap: 0px;
        content-visibility: auto;
        contain-intrinsic-size: #{$pixel-size} #{$pixel-size};
    }

    //
    &, * { box-sizing: border-box; line-height: 0; padding: 0; margin: 0; border: none 0px transparent; };
    .pixel { content-visibility: hidden; contain-intrinsic-size: #{$pixel-size} #{$pixel-size}; };
    * { touch-action: none; user-select: none; pointer-events: none; }

    // translateZ(0px) also enabling subpixel rendering
    .row { transform: translateZ(0px); display: flex; flex-direction: row; inline-size: 100%; block-size: min-content; max-block-size: #{$pixel-size}; /*will-change: contents;*/ container-type: inline-size; }
    .pixel { transform: translateZ(0px); display: block; inline-size: #{$pixel-size}; block-size: #{$pixel-size}; /*will-change: contents, color, background-color; */ }
}
