//
$inf: 10000;

//
@mixin declare-vec3-property($name) {
    @property --#{$name}-x { inherits: true; syntax: "<number>"; initial-value: 0; };
    @property --#{$name}-y { inherits: true; syntax: "<number>"; initial-value: 0; };
    @property --#{$name}-z { inherits: true; syntax: "<number>"; initial-value: 0; };
}

//
@property --screen-x { inherits: true; syntax: "<number>"; initial-value: 0; };
@property --screen-y { inherits: true; syntax: "<number>"; initial-value: 0; };

//
@property --dx { inherits: true; syntax: "<number>"; initial-value: 0; };
@property --dy { inherits: true; syntax: "<number>"; initial-value: 0; };

//
@property --x { inherits: true; syntax: "<number>"; initial-value: 0; };
@property --y { inherits: true; syntax: "<number>"; initial-value: 0; };
@property --w { inherits: true; syntax: "<number>"; initial-value: 1; };
@property --h { inherits: true; syntax: "<number>"; initial-value: 1; };

//
@property --t { inherits: true; syntax: "<number>"; initial-value: #{$inf}; };
@property --sphere-t { inherits: true; syntax: "<number>"; initial-value: #{$inf}; };
@property --plane-t { inherits: true; syntax: "<number>"; initial-value: #{$inf}; };
@property --sphere-radius { inherits: true; syntax: "<number>"; initial-value: 0; };
@property --sphere-center-length { inherits: true; syntax: "<number>"; initial-value: 0; };

//
@property --is-plane { inherits: true; syntax: "<number>"; initial-value: 0; };
@property --is-sphere { inherits: true; syntax: "<number>"; initial-value: 0; };

//
@property --color { inherits: true; syntax: "<color>"; initial-value: transparent; };

//
@include declare-vec3-property("camera-origin");
@include declare-vec3-property("camera-dir");
@include declare-vec3-property("camera-up");
@include declare-vec3-property("camera-right");
@include declare-vec3-property("ray-origin");
@include declare-vec3-property("ray-dir");

@include declare-vec3-property("sphere-normal");
@include declare-vec3-property("sphere-center");
@include declare-vec3-property("plane-center");
@include declare-vec3-property("plane-normal");

@include declare-vec3-property("computed-origin");
