@use "./logic.scss" as l;

//
$inf: 10000;

//
@mixin vec3($name, $x: 0, $y: 0, $z: 0) {
    --#{$name}-x: #{$x};
    --#{$name}-y: #{$y};
    --#{$name}-z: #{$z};
}

@mixin flat3($name, $s: 0) {
    --#{$name}-x: #{$s};
    --#{$name}-y: #{$s};
    --#{$name}-z: #{$s};
}

@mixin cross($out, $a, $b) {
    @include vec3($out,
        calc(var(--#{$a}-y, 0) * var(--#{$b}-z, 0) - var(--#{$b}-y, 0) * var(--#{$a}-z, 0)),
        calc(var(--#{$a}-z, 0) * var(--#{$b}-x, 0) - var(--#{$b}-z, 0) * var(--#{$a}-x, 0)),
        calc(var(--#{$a}-x, 0) * var(--#{$b}-y, 0) - var(--#{$b}-x, 0) * var(--#{$a}-y, 0))
    );
}

@function dot($a, $b) {
    @return calc(
        (var(--#{$a}-x, 0) * var(--#{$b}-x, 0)) +
        (var(--#{$a}-y, 0) * var(--#{$b}-y, 0)) +
        (var(--#{$a}-z, 0) * var(--#{$b}-z, 0))
    );
}

@mixin minus3($out, $a, $b) {
    @include vec3($out,
        calc(var(--#{$a}-x, 0) - var(--#{$b}-x, 0)),
        calc(var(--#{$a}-y, 0) - var(--#{$b}-y, 0)),
        calc(var(--#{$a}-z, 0) - var(--#{$b}-z, 0))
    );
}

//
@function length($a) {
    @return #{'sqrt'}(#{dot($a, $a)});
}

//
@mixin normalize($out, $v, $l) {
    @include vec3($out,
        calc(var(--#{$v}-x, 0) / #{$l}),
        calc(var(--#{$v}-y, 0) / #{$l}),
        calc(var(--#{$v}-z, 0) / #{$l})
    );
}

//
@mixin sphere-intersection-logic($center, $radius, $origin, $dir, $out: 'result') {
    @include minus3("oc", $origin, $center);
    --radius-in-2: calc(var(--#{$radius}, 0) * var(--#{$radius}, 0));

    //
    --a: #{dot($dir, $dir)};
    --b: calc(2 * #{dot("oc", $dir)});
    --c: calc(#{dot("oc", "oc")} - var(--radius-in-2, 0));

    //
    --disc: calc(
        (var(--b, 0) * var(--b, 0)) -
        (var(--a, 0) * var(--c, 0) * 4)
    );

    //
    --sqrt-of-disc: sqrt(max(var(--disc, 0), 0));
    --d-by-2a: var(--sqrt-of-disc, 0) / (2 * var(--a, 0));
    --b-neg: calc(var(--b, 0) * -1);
    --t1: calc(var(--b-neg, 0) - var(--d-by-2a, 0));
    --t2: calc(var(--b-neg, 0) + var(--d-by-2a, 0));

    //
    --by-min: min(var(--t1, 0), var(--t2, 0));
    --by-max: max(var(--t1, 0), var(--t2, 0));
    #{$out}: #{l.mix(
        l.land(l.ge(var(--disc, 0), 0), l.gt(var(--by-max, 0), 0)),
        l.mix(
            l.gt(var(--by-min, 0), 0),
            var(--by-min, 0),
            var(--by-max, 0)
        ),
    #{$inf})};
}

//
@mixin plane-intersection-logic($plane-point, $plane-normal, $origin, $dir, $out: 'result') {
    @include minus3("po", $plane-point, $origin);
    --numerator: #{dot($plane-normal, "po")};
    --denominator: #{dot($plane-normal, $dir)};
    --is-parallel: #{l.eq(var(--denominator, 0), 0)};
    --t: #{l.mix(var(--is-parallel, 0), #{$inf}, calc(var(--numerator, 0) / var(--denominator, 0)))};
    #{$out}: #{l.mix(l.gt(var(--t, #{$inf}), 0), var(--t, #{$inf}), #{$inf})};
}

//
@function sphere-intersection($center, $radius, $origin, $dir) {
    @return --sphere-intersection(
        var(--#{$center}-x, 0),
        var(--#{$center}-y, 0),
        var(--#{$center}-z, 0),
        var(--#{$radius}, 0),
        var(--#{$origin}-x, 0),
        var(--#{$origin}-y, 0),
        var(--#{$origin}-z, 0),
        var(--#{$dir}-x, 0),
        var(--#{$dir}-y, 0),
        var(--#{$dir}-z, 0)
    );
}

//
@function plane-intersection($center, $normal, $origin, $dir) {
    @return --plane-intersection(
        var(--#{$center}-x, 0),
        var(--#{$center}-y, 0),
        var(--#{$center}-z, 0),
        var(--#{$normal}-x, 0),
        var(--#{$normal}-y, 0),
        var(--#{$normal}-z, 0),
        var(--#{$origin}-x, 0),
        var(--#{$origin}-y, 0),
        var(--#{$origin}-z, 0),
        var(--#{$dir}-x, 0),
        var(--#{$dir}-y, 0),
        var(--#{$dir}-z, 0)
    );
}

//
@mixin generate-ray($camera-origin, $camera-view-dir, $camera-up, $camera-right,   $out-ray-origin, $out-ray-dir) {
    --dx: calc(var(--x, 0) / var(--w, 0));
    --dy: calc(var(--y, 0) / var(--h, 0));

    //
    --screen-x: calc(var(--dx, 0) * 2 - 1);
    --screen-y: calc(var(--dy, 0) * 2 - 1);

    //
    @include vec3("screen-offset",
        calc(var(--screen-x, 0) * var(--#{$camera-right}-x, 0) + var(--screen-y, 0) * var(--#{$camera-up}-x, 0)),
        calc(var(--screen-x, 0) * var(--#{$camera-right}-y, 0) + var(--screen-y, 0) * var(--#{$camera-up}-y, 0)),
        calc(var(--screen-x, 0) * var(--#{$camera-right}-z, 0) + var(--screen-y, 0) * var(--#{$camera-up}-z, 0))
    );

    //
    @include vec3($out-ray-dir + "-tmp",
        calc(var(--#{$camera-view-dir}-x, 0) + var(--#{$camera-origin}-x, 0) + var(--screen-offset-x, 0)),
        calc(var(--#{$camera-view-dir}-y, 0) + var(--#{$camera-origin}-y, 0) + var(--screen-offset-y, 0)),
        calc(var(--#{$camera-view-dir}-z, 0) + var(--#{$camera-origin}-z, 0) + var(--screen-offset-z, 0))
    );

    //
    @include normalize($out-ray-dir, $out-ray-dir + "-tmp", length($out-ray-dir + "-tmp"));
    @include vec3($out-ray-origin,
        var(--#{$camera-origin}-x, 0),
        var(--#{$camera-origin}-y, 0),
        var(--#{$camera-origin}-z, 0)
    );
}

//
@mixin sphere-normal($center, $point, $out-normal) {
    $tmp: $point + "_tmp";
    @include minus3($tmp, $point, $center);
    @include normalize($out-normal, $tmp, length($tmp));
}
